@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  font-family: 'Space Grotesk','Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg,#5f2c82,#49a09d);
}
